html {

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1;
}


.slider-bar {
    width: 500px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 50px;

}


.slider {
    background-color: red;
    width: 50%;
    cursor: ew-resize;
    border: 1px solid red;
}