* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DADADA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    width: 100%;
    height: 230px;
}
.img img{
    max-width: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .25s ease;
}

.img img:hover{
    transform: scale(1.5);
    transition: .25s ease;
    cursor: pointer;
}

.img {
    border-radius: 5px;
    overflow: hidden;
}

.wrapper {
}